body{
    text-align: center;
    border: 3px solid black;
}
h1{
    font-size: 50px;
    text-decoration: underline;
}
img{
    border: 2px solid black;
    width: 300px;
    height: 300px;
    
}
.row{
    vertical-align: middle;
    display: block;
    margin-bottom: 30px;
}
a{
    padding-left: 30px;
}
@media(max-width:1030px) and (min-width:938px)
{
    img{
        width: 250px;
        height: 250px;
    }
}

@media (max-width:937px) and (min-width:731px){
    img{
        width: 200px;
        height: 200px;
    }
}
@media (max-width:730px) and (min-width:636px){
    img{
        width: 150px;
        height: 150px;
    }
}
@media (max-width:635px) and (min-width:580px)
{
    img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width:579px) and (min-width:401px){
    img{
        width: 75px;
        height: 75px;
    }
}
@media(max-width:400px) and (min-width:280px){
    img{
        width: 45px;
        height: 45px;
    }
}
@media (max-width:279px) {
    img{
        width: 35px;
        height: 35px;
    }
}

}